.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); ;
}

.search-form{
  padding-top: 20px;
  min-height: 10vh;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 16px;

}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 16px;
  font-size: 20px;
}

.search-bar:focus, .search-button:focus{
  outline:none;
}

.search-bar::placeholder{
  font-size: 20px;
}

.search-button{
  background-color: black;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.search-button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}